page-billing-history {
    .balance {
        color: #aaa;
        font-size: 0.85em;
    }

    .bill-item {
        display: flex;
        justify-content: space-between; 
        padding: 1em 0;
    }
}
